@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue: #206a6a;
  --blue-lighter: #2a7e7e;
  --maroon: #6e3812;
  --maroon-lighter: #8a4a1a;
  --redish: #842222;
}

body {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.container {
  display: grid;
}

.main {
  grid-template-columns: 12% 12% 76%;
  height: 100vh;
  width: 100vw;
}

#home {
  background-color: var(--blue);
  grid-template-columns: auto;
  grid-template-rows: auto;
  place-items: center;
}

#home > div {
  background-color: var(--blue-lighter);
  padding: 50px 0;
  width: 50%;
  text-align: center;
}

.homebtn {
  background-color: var(--redish);
  margin: auto;
  padding: 20px;
  width: 50%;
}

.main > div {
  padding: 20px 15px;
}

.dirs > a, .files > a {
  margin: 10px 0;
  padding: 10px;
}

.dirs {
  background-color: var(--blue);
}

.dirs > a:hover {
  background-color: var(--blue-lighter);
}

.files {
  background-color: var(--maroon);
}

.files > a:hover {
 background-color: var(--maroon-lighter);
}

s:hover, button:hover {
  transition: background-color 0.1s ease;
}

.note {
  background-color: linen;
}

.note textarea {
  font-size: 16px;
  height: 300px;
  resize: vertical;
  width: 99%;
}

a {
  color: whitesmoke;
  display: block;
  text-decoration: none;
}

button[type="submit"] {
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
}

.addDir {
  background-color: var(--blue);
}

.addDir:hover {
  background-color: var(--blue-lighter);
}

.addFile {
  background-color: var(--maroon);
}

.addFile:hover {
  background-color: var(--maroon-lighter);
}

svg {
  vertical-align: middle;
}
